body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #27374d;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #dddddd;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  gap: 2rem;
}

.header-item {
  text-align: center;
  color: black;
  font-size: 1em;
}

.header-item a {
  text-decoration: none;
  color: #333333;
  font-size: 1em;
  transition: color 0.3s;
  font-weight: bold;
}

.header-item a:hover {
  color: #c3073f;
}

.header-logo img {
  max-height: 4.375rem;
  width: auto;
  display: block;
}

.header-logo a {
  display: block;
  padding: 0;
  margin: 0;
}

.header-logo a:hover img {
  opacity: 0.8;
  transition: opacity 0.3s;
}

main {
  flex-grow: 1;
  padding-bottom: 9.375rem;
  margin-top: 6.6875rem;
}

footer {
  display: none;
  background-color: #dddddd;
  color: #333333;
  padding: 1rem;
  text-align: center;
}

body.show-footer footer {
  display: block;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #dddddd;
  color: #333333;
  padding: 1rem;
  text-align: center;
}

footer p {
  margin: 0;
}

img {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-image-container {
  margin-top: 1.25rem;
}

.image-container {
  text-align: center;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

#home {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.player-card {
  color: #c3073f;
  font-family: Arial, sans-serif;
  width: 80%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
}

.player-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.player-rating {
  font-size: 1rem;
  font-weight: bold;
  color: #dddddd;
  transform: translateY(-50%);
}

.messi-image {
  z-index: 10;
  margin-top: 1.25rem;
}

.messi-image img {
  width: 13.75rem;
}

.player-details {
  width: 80%;
  background-color: #222;
  color: #fff;
  padding: 0.9375rem 1.25rem;
  border-radius: 0.625rem;
  border: 0.125rem solid #dddddd;
  font-family: "Arial", sans-serif;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  margin-top: 1.25rem;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid #444;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.detail-title {
  font-weight: bold;
  font-size: 1rem;
}

.detail-value {
  font-size: 1rem;
  text-align: right;
}

.detail-row:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.attributes-container {
  background: transparent;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 0.3125rem;
  width: 60%;
  gap: 2%;
  margin-top: 0.7rem;
}

.attributes-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.875rem;
  gap: 3%;
}

.attribute-category {
  width: 18.75rem;
  background: #222;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid white;
}

.attribute {
  background: #444;
  padding: 0.3125rem;
  margin-top: 0.3125rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

.attribute-category h3 {
  margin-top: 0;
  padding-bottom: 0.625rem;
}

.value-color {
  background-color: #c3073f;
  color: #333333;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

.wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chemistry {
  color: #ffffff;
  padding: 1.25rem;
  text-align: center;
  height: 31.25rem;
}

.chemistry h2 {
  margin-bottom: 1.25rem;
}

.player-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
  gap: 0.625rem;
  justify-content: center;
}

.card {
  border: 0.0625rem solid #ffffff;
  border-radius: 0.625rem;
  overflow: hidden;
  height: 11.25rem;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  text-align: center;
  margin-top: 1.25rem;
}

.navigation button {
  display: inline-block;
  padding: 0.4375rem 0.625rem;
  margin: 0;
  border: 0.125rem solid #333333;
  background-color: #dddddd;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.navigation button:hover {
  background-color: #c3073f;
  color: #0b0c10;
}

.navigation button:disabled {
  background-color: #ccc;
  color: #666;
  border-color: #ccc;
  cursor: default;
}

.fut-player-card {
  position: relative;
  width: 12.5rem;
  height: 16.25rem;
  background-image: url(https://selimdoyranli.com/cdn/fut-player-card/img/card_bg.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 2rem 0;
  z-index: 2;
}

.fut-player-card .player-card-top {
  position: relative;
  color: #e9cc74;
  padding: 0.4rem;
}

.fut-player-card .player-card-top .player-master-info {
  position: absolute;
  top: 0.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.4rem;
  line-height: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.fut-player-card .player-card-top .player-master-info .player-position {
  font-size: 0.8rem;
  margin-top: 0.625rem;
}

.fut-player-card .player-card-top .player-master-info .player-nation {
  display: block;
  width: 1.2rem;
  height: 0.9375rem;
  margin: 0.15rem 0;
}

.fut-player-card .player-card-top .player-master-info .player-nation img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fut-player-card .player-card-top .player-master-info .player-club {
  display: block;
  width: 1.26rem;
  height: 1.5rem;
}

.fut-player-card .player-card-top .player-master-info .player-club img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fut-player-card .player-card-top .player-picture {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 2rem;
}

.fut-player-card .player-card-top .player-picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  bottom: 0;
}

.fut-player-card .player-card-top .player-picture .player-extra {
  position: absolute;
  right: 0;
  bottom: -0.15rem;
  overflow: hidden;
  font-size: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 0.9rem;
  padding: 0 0.9rem;
  text-align: right;
  background: none;
}

.fut-player-card .player-card-top .player-picture .player-extra span {
  margin-left: 0.2rem;
  text-shadow: 1px 1px #333;
}

.fut-player-card .player-card-bottom {
  position: relative;
}

.fut-player-card .player-card-bottom .player-info {
  display: block;
  padding: 0.15rem 0;
  color: #e9cc74;
  width: 90%;
  margin: 0 auto;
  height: auto;
  position: relative;
  z-index: 2;
}

.fut-player-card .player-card-bottom .player-info .player-name {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-bottom: 0.0625rem solid rgba(233, 204, 116, 0.1);
  padding-bottom: 0.075rem;
  overflow: hidden;
}

.fut-player-card .player-card-bottom .player-info .player-name span {
  display: block;
  text-shadow: 1px 1px #111;
}

.fut-player-card .player-card-bottom .player-info .player-features {
  margin: 0.3rem auto;
  display: flex;
  justify-content: center;
}

.fut-player-card
  .player-card-bottom
  .player-info
  .player-features
  .player-features-col {
  border-right: 0.0625rem solid rgba(233, 204, 116, 0.1);
  padding: 0 1.2rem;
}

.fut-player-card
  .player-card-bottom
  .player-info
  .player-features
  .player-features-col
  span {
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.fut-player-card
  .player-card-bottom
  .player-info
  .player-features
  .player-features-col
  span
  .player-feature-value {
  margin-right: 0.15rem;
  font-weight: 700;
}

.fut-player-card
  .player-card-bottom
  .player-info
  .player-features
  .player-features-col
  span
  .player-feature-title {
  font-weight: 300;
}

.fut-player-card
  .player-card-bottom
  .player-info
  .player-features
  .player-features-col:last-child {
  border: 0;
}

.chemistry-links-container {
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chemistry-links-heading {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: #fff;
}

.chemistry-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.chemistry-links .fut-player-card {
  flex: 1 1 calc(20% - 1.25rem);
  max-width: calc(20% - 1.25rem);
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

.pagination-buttons button {
  margin: 0 0.625rem;
  padding: 0.625rem 1.25rem;
  background-color: #ddd;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.pagination-buttons button:hover {
  background-color: #ccc;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #27374d;
  }

  header {
    background-color: #dddddd;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 1000;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    right: 0;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    gap: 2rem;
  }

  .header-item {
    text-align: center;
    color: black;
    font-size: 1em;
  }

  .header-item a {
    text-decoration: none;
    color: #333333;
    font-size: 1em;
    transition: color 0.3s;
    font-weight: bold;
  }

  .header-item a:hover {
    color: #c3073f;
  }

  .header-logo img {
    max-height: 3rem;
  }

  .header-logo a {
    display: block;
    padding: 0;
    margin: 0;
  }

  .header-logo a:hover img {
    opacity: 0.8;
    transition: opacity 0.3s;
  }

  .header-text {
    text-align: center;
    margin-top: 1rem;
  }

  .header-text h1 {
    font-size: 1.5rem;
  }

  .header-text p {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  main {
    padding-top: 2rem;
    width: 100%;
    margin: 0 auto;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }

  .wrapper {
    width: 80%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .player-card {
    color: #c3073f;
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
  }

  .player-name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .player-rating {
    font-size: 1rem;
    font-weight: bold;
    color: #dddddd;
    transform: translateY(-50%);
  }

  .messi-image {
    z-index: 10;
    margin-top: 1.25rem;
  }

  .messi-image img {
    width: 100%;
    max-width: 200px;
  }

  .player-details {
    width: 100%;
    background-color: #222;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }

  .detail-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .detail-title,
  .detail-value {
    font-size: 1rem;
  }

  .detail-row:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .attributes-container {
    width: 93%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    background-color: #222;
    border-radius: 0.5rem;
    border: 1px solid #dddddd;
  }

  .attributes-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .attribute-category {
    width: 90%;
    background: #333;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #444;
  }

  .attribute {
    background: #444;
    padding: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  .attribute-category h3 {
    margin-top: 0;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .value-color {
    background-color: #c3073f;
    color: #333333;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
  }

  .chemistry-links-container {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #222;
    border-radius: 0.5rem;
    border: 1px solid #dddddd;
  }

  .chemistry-links-heading {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #fff;
  }

  .chemistry-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .chemistry-links .fut-player-card {
    width: 100%;
    max-width: 200px;
    background: #333;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #444;
  }

  .pagination-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
  }

  .pagination-buttons button {
    width: 48%;
    padding: 0.5rem;
    background-color: #ddd;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .pagination-buttons button:hover {
    background-color: #ccc;
  }

  .player-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .player-card-top .player-picture {
    width: 4rem;
    height: 4rem;
  }

  .player-card-top .player-master-info .player-rating,
  .player-card-top .player-master-info .player-position,
  .player-card-top .player-master-info .player-nation,
  .player-card-top .player-master-info .player-club {
    font-size: 0.7rem;
  }

  .player-card-bottom .player-info .player-name {
    font-size: 0.7rem;
  }

  .player-card-bottom .player-info .player-features .player-features-col span {
    font-size: 0.5rem;
  }

  footer {
    font-size: 0.8rem;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    background-color: #dddddd;
  }

  #home {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
